
.footer {
  width: inherit;
  max-height: 60px;
  padding: 0 40px;
  background: #FFFFFF;
  box-shadow: 0px -2px 4px rgba(55, 29, 199, 0.05);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;

  color: #9198BB;

  &__copy {
    flex-basis: 50%;
    align-items: flex-start;
  }

  &__info {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
    text-align: right;
  }
}