
.btn {
  border: none;
  cursor: pointer;
  background: $color-primary;
  color: $white;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  min-height: 32px;
  max-height: 54px;
  border-radius: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  p {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &.secondary {
    background-color: $color-blue;
  }

  &.primary {
    background-color: $color-primary;

  }

  //priority
  &.icon-btn {
    padding: 7px !important;
  }

  &.outline {
    border: 1px solid $color-blue;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: $white !important;
    color: $color-gray;
  }
}

button[disabled=disabled], button:disabled {
  background: $color-blue !important;
  opacity: 0.8;
  pointer-events: none;
  cursor: not-allowed;
}


