
.input {
  position: relative;
  flex-direction: column;
  width: 100% !important;
  &--label{
    font-family: Rubik;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    display: flex;
    align-items: center;
    font-feature-settings: 'liga' off;
    padding-bottom: 10px;
    color: #333333;
  }
  input:focus-visible{
    border: none !important;
    outline: none !important;
  }
  input{
    border: 0px solid black !important;
    outline: none !important;
  }
}
.input input[type="text"],
.input input[type="email"],
.input input[type="password"] {
  appearance: none !important;
  height: 48px !important;
  width: 98.5% !important;
  background: #F7F7FD !important;
  border-radius: 12px !important;
  padding-left: 12px !important;
  font-size: 16px !important;
  color: #333333 !important;
  transition-property: border, color !important;
  transition-duration: 400ms !important;
}
.input input[type="text"]:focus,
.input input[type="email"]:focus,
.input input[type="password"]:focus {
  color: #333333 !important;
}
.input input[type="text"]::placeholder,
.input input[type="email"]::placeholder,
.input input[type="password"]::placeholder {
  color: #BFC9E0 !important;
}

.input .iconLeft,
.input .iconRight {
  position: absolute !important;
}
.input .iconLeft {
  top: 8px !important;
  left: 8px !important;
}
.input .iconRight {
  top: 40px !important;
  right: 10px !important;
  cursor: pointer !important;
}
